In [179]:
import pandas as pd
import numpy as np

In [180]:
data=pd.read_csv("data/olympics.csv")
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,# Summer,01 !,02 !,03 !,Total,# Winter,01 !,02 !,03 !,Total,# Games,01 !,02 !,03 !,Combined total
1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12

In [181]:
def load_data():
    data=pd.read_csv("data/olympics.csv")
    data.columns = data.iloc[0]
    data=data.drop(data.index[0])
    data.rename(columns = {"01 !":'Gold'}, inplace = True)
    data.rename(columns = {"02 !":'Silver'}, inplace = True)
    data.rename(columns = {"03 !":'Bronze'}, inplace = True)
    data = data.rename(columns={np.nan: '0'})
    spli=data['0']
    spli1=spli.apply(lambda x: x.split('\xc2\xa0')[-1])
    data['0']=data['0'].apply(lambda x: x.split('\xc2\xa0')[0])
    spli1=spli1.apply(lambda x: x.split(' ')[0])
    data['country_code']=spli1
    data.set_index('0',inplace=True)
    data.index.name=None
    data.drop(['Total'],axis=1,inplace=True)
    return data

In [182]:
df=load_data()
df.head()

,# Summer,Gold,Silver,Bronze,# Winter,Gold,Silver,Bronze,# Games,Gold,Silver,Bronze,Combined total,country_code
Afghanistan,13,0,0,2,0,0,0,0,13,0,0,2,2,(AFG)
Algeria,12,5,2,8,3,0,0,0,15,5,2,8,15,(ALG)
Argentina,23,18,24,28,18,0,0,0,41,18,24,28,70,(ARG)
Armenia,5,1,2,9,6,0,0,0,11,1,2,9,12,(ARM)
Australasia,2,3,4,5,0,0,0,0,2,3,4,5,12,(ANZ)

In [183]:
data.shape

(148, 16)

In [184]:
data.columns = data.iloc[0]
data.head()

,nan,# Summer,01 !,02 !,03 !,Total,# Winter,01 !,02 !,03 !,Total,# Games,01 !,02 !,03 !,Combined total
0,NaN,# Summer,01 !,02 !,03 !,Total,# Winter,01 !,02 !,03 !,Total,# Games,01 !,02 !,03 !,Combined total
1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12

In [185]:
data=data.drop(data.index[0])
data.head()

,nan,# Summer,01 !,02 !,03 !,Total,# Winter,01 !,02 !,03 !,Total,# Games,01 !,02 !,03 !,Combined total
1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
5,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [186]:
data.rename(columns = {"01 !":'Gold'}, inplace = True)
data.rename(columns = {"02 !":'Silver'}, inplace = True)
data.rename(columns = {"03 !":'Bronze'}, inplace = True)
data.head()

,nan,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold,Silver,Bronze,Total,# Games,Gold,Silver,Bronze,Combined total
1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
5,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [187]:
data = data.rename(columns={np.nan: '0'})
data.head()

,0,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold,Silver,Bronze,Total,# Games,Gold,Silver,Bronze,Combined total
1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
5,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [188]:
spli=data['0']
spli1=spli.apply(lambda x: x.split('\xc2\xa0')[-1])
data['0']=data['0'].apply(lambda x: x.split('\xc2\xa0')[0])
data

,0,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold,Silver,Bronze,Total,# Games,Gold,Silver,Bronze,Combined total
1,Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
5,Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
6,Australia,25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
7,Austria,26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
8,Azerbaijan,5,6,5,15,26,5,0,0,0,0,10,6,5,15,26
9,Bahamas,15,5,2,5,12,0,0,0,0,0,15,5,2,5,12
10,Bahrain,8,0,0,1,1,0,0,0,0,0,8,0,0,1,1
11,Barbados,11,0,0,1,1,0,0,0,0,0,11,0,0,1,1
12,Belarus,5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
13,Belgium,25,37,52,53,142,20,1,1,3,5,45,38,53,56,147
14,Bermuda,17,0,0,1,1,7,0,0,0,0,24,0,0,1,1
15,Bohemia,3,0,1,3,4,0,0,0,0,0,3,0,1,3,4
16,Botswana,9,0,1,0,1,0,0,0,0,0,9,0,1,0,1
17,Brazil,21,23,30,55,108,7,0,0,0,0,28,23,30,55,108
18,British West Indies,1,0,0,2,2,0,0,0,0,0,1,0,0,2,2
19,Bulgaria,19,51,85,78,214,19,1,2,3,6,38,52,87,81,220
20,Burundi,5,1,0,0,1,0,0,0,0,0,5,1,0,0,1
21,Cameroon,13,3,1,1,5,1,0,0,0,0,14,3,1,1,5
22,Canada,25,59,99,121,279,22,62,56,52,170,47,121,155,173,449
23,Chile,22,2,7,4,13,16,0,0,0,0,38,2,7,4,13
24,China,9,201,146,126,473,10,12,22,19,53,19,213,168,145,526
25,Colombia,18,2,6,11,19,1,0,0,0,0,19,2,6,11,19
26,Costa Rica,14,1,1,2,4,6,0,0,0,0,20,1,1,2,4
27,Ivory Coast,12,0,1,0,1,0,0,0,0,0,12,0,1,0,1
28,Croatia,6,6,7,10,23,7,4,6,1,11,13,10,13,11,34
29,Cuba,19,72,67,70,209,0,0,0,0,0,19,72,67,70,209
30,Cyprus,9,0,1,0,1,10,0,0,0,0,19,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,Sri Lanka,16,0,2,0,2,0,0,0,0,0,16,0,2,0,2
119,Sudan,11,0,1,0,1,0,0,0,0,0,11,0,1,0,1
120,Suriname,11,1,0,1,2,0,0,0,0,0,11,1,0,1,2
121,Sweden,26,143,164,176,483,22,50,40,54,144,48,193,204,230,627
122,Switzerland,27,47,73,65,185,22,50,40,48,138,49,97,113,113,323
123,Syria,12,1,1,1,3,0,0,0,0,0,12,1,1,1,3
124,Chinese Taipei,13,2,7,12,21,11,0,0,0,0,24,2,7,12,21
125,Tajikistan,5,0,1,2,3,4,0,0,0,0,9,0,1,2,3
126,Tanzania,12,0,2,0,2,0,0,0,0,0,12,0,2,0,2
127,Thailand,15,7,6,11,24,3,0,0,0,0,18,7,6,11,24
128,Togo,9,0,0,1,1,1,0,0,0,0,10,0,0,1,1
129,Tonga,8,0,1,0,1,1,0,0,0,0,9,0,1,0,1
130,Trinidad and Tobago,16,2,5,11,18,3,0,0,0,0,19,2,5,11,18
131,Tunisia,13,3,3,4,10,0,0,0,0,0,13,3,3,4,10
132,Turkey,21,39,25,24,88,16,0,0,0,0,37,39,25,24,88
133,Uganda,14,2,3,2,7,0,0,0,0,0,14,2,3,2,7
134,Ukraine,5,33,27,55,115,6,2,1,4,7,11,35,28,59,122
135,United Arab Emirates,8,1,0,0,1,0,0,0,0,0,8,1,0,0,1
136,United States,26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
137,Uruguay,20,2,2,6,10,1,0,0,0,0,21,2,2,6,10
138,Uzbekistan,5,5,5,10,20,6,1,0,0,1,11,6,5,10,21
139,Venezuela,17,2,2,8,12,4,0,0,0,0,21,2,2,8,12
140,Vietnam,14,0,2,0,2,0,0,0,0,0,14,0,2,0,2
141,Virgin Islands,11,0,1,0,1,7,0,0,0,0,18,0,1,0,1
142,Yugoslavia,16,26,29,28,83,14,0,3,1,4,30,26,32,29,87
143,Independent Olympic Participants,1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
144,Zambia,12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
145,Zimbabwe,12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
146,Mixed team,3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
147,Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [189]:
spli1=spli1.apply(lambda x: x.split(' ')[0])
data['country_code']=spli1
data

,0,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold,Silver,Bronze,Total,# Games,Gold,Silver,Bronze,Combined total,country_code
1,Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,(AFG)
2,Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,(ALG)
3,Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,(ARG)
4,Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,(ARM)
5,Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,(ANZ)
6,Australia,25,139,152,177,468,18,5,3,4,12,43,144,155,181,480,(AUS)
7,Austria,26,18,33,35,86,22,59,78,81,218,48,77,111,116,304,(AUT)
8,Azerbaijan,5,6,5,15,26,5,0,0,0,0,10,6,5,15,26,(AZE)
9,Bahamas,15,5,2,5,12,0,0,0,0,0,15,5,2,5,12,(BAH)
10,Bahrain,8,0,0,1,1,0,0,0,0,0,8,0,0,1,1,(BRN)
11,Barbados,11,0,0,1,1,0,0,0,0,0,11,0,0,1,1,(BAR)
12,Belarus,5,12,24,39,75,6,6,4,5,15,11,18,28,44,90,(BLR)
13,Belgium,25,37,52,53,142,20,1,1,3,5,45,38,53,56,147,(BEL)
14,Bermuda,17,0,0,1,1,7,0,0,0,0,24,0,0,1,1,(BER)
15,Bohemia,3,0,1,3,4,0,0,0,0,0,3,0,1,3,4,(BOH)
16,Botswana,9,0,1,0,1,0,0,0,0,0,9,0,1,0,1,(BOT)
17,Brazil,21,23,30,55,108,7,0,0,0,0,28,23,30,55,108,(BRA)
18,British West Indies,1,0,0,2,2,0,0,0,0,0,1,0,0,2,2,(BWI)
19,Bulgaria,19,51,85,78,214,19,1,2,3,6,38,52,87,81,220,(BUL)
20,Burundi,5,1,0,0,1,0,0,0,0,0,5,1,0,0,1,(BDI)
21,Cameroon,13,3,1,1,5,1,0,0,0,0,14,3,1,1,5,(CMR)
22,Canada,25,59,99,121,279,22,62,56,52,170,47,121,155,173,449,(CAN)
23,Chile,22,2,7,4,13,16,0,0,0,0,38,2,7,4,13,(CHI)
24,China,9,201,146,126,473,10,12,22,19,53,19,213,168,145,526,(CHN)
25,Colombia,18,2,6,11,19,1,0,0,0,0,19,2,6,11,19,(COL)
26,Costa Rica,14,1,1,2,4,6,0,0,0,0,20,1,1,2,4,(CRC)
27,Ivory Coast,12,0,1,0,1,0,0,0,0,0,12,0,1,0,1,(CIV)
28,Croatia,6,6,7,10,23,7,4,6,1,11,13,10,13,11,34,(CRO)
29,Cuba,19,72,67,70,209,0,0,0,0,0,19,72,67,70,209,(CUB)
30,Cyprus,9,0,1,0,1,10,0,0,0,0,19,0,1,0,1,(CYP)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,Sri Lanka,16,0,2,0,2,0,0,0,0,0,16,0,2,0,2,(SRI)
119,Sudan,11,0,1,0,1,0,0,0,0,0,11,0,1,0,1,(SUD)
120,Suriname,11,1,0,1,2,0,0,0,0,0,11,1,0,1,2,(SUR)
121,Sweden,26,143,164,176,483,22,50,40,54,144,48,193,204,230,627,(SWE)
122,Switzerland,27,47,73,65,185,22,50,40,48,138,49,97,113,113,323,(SUI)
123,Syria,12,1,1,1,3,0,0,0,0,0,12,1,1,1,3,(SYR)
124,Chinese Taipei,13,2,7,12,21,11,0,0,0,0,24,2,7,12,21,(TPE)
125,Tajikistan,5,0,1,2,3,4,0,0,0,0,9,0,1,2,3,(TJK)
126,Tanzania,12,0,2,0,2,0,0,0,0,0,12,0,2,0,2,(TAN)
127,Thailand,15,7,6,11,24,3,0,0,0,0,18,7,6,11,24,(THA)
128,Togo,9,0,0,1,1,1,0,0,0,0,10,0,0,1,1,(TOG)
129,Tonga,8,0,1,0,1,1,0,0,0,0,9,0,1,0,1,(TGA)
130,Trinidad and Tobago,16,2,5,11,18,3,0,0,0,0,19,2,5,11,18,(TRI)
131,Tunisia,13,3,3,4,10,0,0,0,0,0,13,3,3,4,10,(TUN)
132,Turkey,21,39,25,24,88,16,0,0,0,0,37,39,25,24,88,(TUR)
133,Uganda,14,2,3,2,7,0,0,0,0,0,14,2,3,2,7,(UGA)
134,Ukraine,5,33,27,55,115,6,2,1,4,7,11,35,28,59,122,(UKR)
135,United Arab Emirates,8,1,0,0,1,0,0,0,0,0,8,1,0,0,1,(UAE)
136,United States,26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681,(USA)
137,Uruguay,20,2,2,6,10,1,0,0,0,0,21,2,2,6,10,(URU)
138,Uzbekistan,5,5,5,10,20,6,1,0,0,1,11,6,5,10,21,(UZB)
139,Venezuela,17,2,2,8,12,4,0,0,0,0,21,2,2,8,12,(VEN)
140,Vietnam,14,0,2,0,2,0,0,0,0,0,14,0,2,0,2,(VIE)
141,Virgin Islands,11,0,1,0,1,7,0,0,0,0,18,0,1,0,1,(ISV)
142,Yugoslavia,16,26,29,28,83,14,0,3,1,4,30,26,32,29,87,(YUG)
143,Independent Olympic Participants,1,0,1,2,3,0,0,0,0,0,1,0,1,2,3,(IOP)
144,Zambia,12,0,1,1,2,0,0,0,0,0,12,0,1,1,2,(ZAM)
145,Zimbabwe,12,3,4,1,8,1,0,0,0,0,13,3,4,1,8,(ZIM)
146,Mixed team,3,8,5,4,17,0,0,0,0,0,3,8,5,4,17,(ZZX)
147,Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579,Totals

In [190]:

data.set_index('0',inplace=True)
data.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold,Silver,Bronze,Total,# Games,Gold,Silver,Bronze,Combined total,country_code
0,,,,,,,,,,,,,,,,
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,(AFG)
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,(ALG)
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,(ARG)
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,(ARM)
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,(ANZ)

In [191]:
data.index.name=None
data.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold,Silver,Bronze,Total,# Games,Gold,Silver,Bronze,Combined total,country_code
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,(AFG)
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,(ALG)
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,(ARG)
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,(ARM)
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,(ANZ)

In [192]:
data.drop(['Total'],axis=1,inplace=True)
data.head()

,# Summer,Gold,Silver,Bronze,# Winter,Gold,Silver,Bronze,# Games,Gold,Silver,Bronze,Combined total,country_code
Afghanistan,13,0,0,2,0,0,0,0,13,0,0,2,2,(AFG)
Algeria,12,5,2,8,3,0,0,0,15,5,2,8,15,(ALG)
Argentina,23,18,24,28,18,0,0,0,41,18,24,28,70,(ARG)
Armenia,5,1,2,9,6,0,0,0,11,1,2,9,12,(ARM)
Australasia,2,3,4,5,0,0,0,0,2,3,4,5,12,(ANZ)